<%- include('../partials/header') %>

<form action="/movies" method="POST">
  <label>Post:
    <input type="text" name="title">  
  <button type="submit">Yell</button>
</form>

<%- include('../partials/footer') %>
